.upperPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
}

.backButtonContainer {
    width: 3%;
    margin-top: 0.3%;
}

.backButton {
    width: 100%;
    height: auto;
    margin-left: 20%;
    cursor: pointer;
}

.productTitleContainer {
    display: flex;
    border-left: 3px solid black;
    align-items: center;
    margin-left: 1.2%;
    width: 50%;
}

.productTitle {
    font-size: 2em;
    margin: 0 0 0 1.2%;
}

.productImage {
    display: block;
    width: 20%;
    height: auto;
    margin: 2% auto 0 auto;
}

.productInfoTable {
    border-collapse: collapse;
    margin: 1% auto 0 auto;
    width: 50%;
}

.dataName {
    width: 13%;
    font-size: 1.1vw;
    font-weight: bold;
    padding: 1%;
}

.dataValue {
    font-size: 1.1vw;
    padding: 1%;
    height: 1px;
}

.dataOptionValue {
    font-size: 1.1vw;
    height: 1px;
}

.options {
    display: flex;
    height: 100%;
}

.productOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2% 0 2%;
    margin-right: 0.5%;
    border: 1px solid black;
    cursor: pointer;
}

.firstOptionDataRender {
    border: 2px solid black
}

.addToCartButton {
    display: block;
    width: 12%;
    height: 80px;
    margin: 1% auto 0 auto;
    font-size: 2vw;
    background-color: white;
    cursor: pointer;
    border: 3px solid black;
    border-radius: 15px;

    &:active {
        transform: scale(0.98);
    }
}