.main {
}

.header {
    display: flex;
    justify-content: center;
}

.titleLink {
    text-decoration: none;
    color: black;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    margin: 0;
}

.mainPanel {
    display: flex;
    justify-content: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    width: 100%;
}

.hiddenSearchField {
    position: absolute;
    display: none;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    top: 61.5px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    width: 250px;
    height: 35px;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
}

.searchText {
    margin: 0 0 0 3px;
    align-content: center;
}

.cartDiv {
    display: flex;
    align-items: center;
    width: 57px;
    margin-right: 5px;
}

.userAvatarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-left: 3px solid;
    border-right: 3px solid;
    margin-right: 6px;
    color: black;
    cursor: pointer;
}

.search {
    display: flex;
    width: 350px;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin-top: 6px;
    margin-bottom: 6px;
}

.cart {
    width: 100%;
    height: auto;
}

.userAvatar {
    width: 100%;
    height: auto;
}

.searchIcon {
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.searchImage {
    width: 53px;
    height: auto;
    margin-left: 3%;
}

.searchField {
    align-content: center;
    border-left: 3px solid;
    width: 100%;

    p {
        margin: 0 0 0 1%;
        font-size: 170%;
    }
}

.burgerMenuButtonInactive {
    display: inline-block;
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 1.5vh;
    cursor: pointer;
    z-index: 1;
}

.burgerMenuButtonActive {
    cursor: pointer;
    position: fixed;
    right: 0;
    margin-right: 10px;
    margin-top: 1.5vh;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;

    .bar {
        &:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
            background-color: white;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
            background-color: white;
        }
    }
}

.bar {
    display: block;
    width: 25px;
    height: 4px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: black;
}

.burgerMenu {
    display: flex;
    position: fixed;
    height: 100%;
    background-color: black;
    top: 0;
    right: 0;
    gap: 0;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    right: -250px;
    transition-property: right;
    transition-duration: 0.5s;
    z-index: 1;
}

.burgerMenuItem {
    color: white;
    text-decoration: none;
    font-size: 2em;
    transition: 0.3s;
    display: block;
    padding: 8px;
}

.ProductsSection {
    font-size: 1.7em;
    margin-left: 30px;
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    .title {
        font-size: 3em;
    }

    .cartDiv {
        width: 35px;
    }

    .userAvatarDiv {
        width: 41px;
        margin-right: 2px;
    }

    .userAvatar {
        width: 85%;
    }

    .search {
        border: none;
        width: 35px;
    }

    .searchField {
        display: none;
    }

    .searchIcon {
        width: 35px;
        height: 35px;
    }

    .searchImage {
        width: 35px;
    }

    .burgerMenuButtonInactive {
        margin-top: 1.9vh;
        margin-right: 7px;
    }

    .burgerMenuButtonActive {
        margin-top: 1.9vh;
        margin-right: 7px;

        .bar {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    .bar {
        width: 22px;
        height: 3px;
    }

    .burgerMenu {
        width: 150px;
        right: -150px;
    }

    .burgerMenuItem {
        font-size: 1.2em;
    }

    .ProductsSection {
        font-size: 1em;
        margin-left: 16px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .title {
        font-size: 4em;
    }

    .cartDiv {
        width: 42px;
    }

    .userAvatarDiv {
        width: 42px;
        margin-right: 4px;
    }
    
    .search {
        width: 200px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .searchIcon {
        pointer-events: none;
    }

    .searchImage {
        width: 35px;
        margin-left: 2px;
    }

    .burgerMenuButtonInactive {
        margin-top: 2.3vh;
    }

    .burgerMenuButtonActive {
        margin-top: 2.3vh;

        .bar {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    .bar {
        width: 21px;
        height: 3px;
    }

    .ProductsSection {
        font-size: 1.3em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .title {
        font-size: 5em;
    }

    .cartDiv {
        width: 45px;
    }

    .userAvatarDiv {
        width: 47px;
        margin-right: 4px;
    }
    
    .search {
        width: 240px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .searchIcon {
        pointer-events: none;
    }

    .searchImage {
        width: 40px;
        margin-left: 2px;
    }

    .burgerMenuButtonInactive {
        margin-top: 2.3vh;
    }

    .burgerMenuButtonActive {
        margin-top: 2.3vh;

        .bar {
            &:nth-child(1) {
                transform: translateY(8px) rotate(45deg);
            }

            &:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg);
            }
        }
    }

    .bar {
        width: 21px;
        height: 3px;
    }

    .ProductsSection {
        font-size: 1.4em;
    }
}

@media screen and (min-width: 1601px) {
    .searchIcon {
        pointer-events: none;
    }

    .burgerMenuButtonInactive {
        right: 10px;
        margin-top: 2.2vh;
    }

    .burgerMenuButtonActive {
        right: 10px;
        margin-top: 2.2vh;
    }

    .burgerMenu {
        width: 325px;
        right: -325px;
    }
}