.header {
    display: flex;
    justify-content: center;
}

.titleLink {
    text-decoration: none;
    color: black;
}

.title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    margin: 0;
}

.mainPanel {
    display: flex;
    justify-content: center;
    border-top: 3px solid;
    border-bottom: 3px solid;
    width: 100%;
}

.cartDiv {
    display: flex;
    align-items: center;
    width: 60px;
    margin-right: 5px;
}

.userAvatarDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    border-left: 3px solid;
    border-right: 3px solid;
    margin-right: 6px;
    color: black;
    cursor: pointer;
}

.search {
    display: flex;
    width: 350px;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin-top: 6px;
    margin-bottom: 6px;
}

.cart {
    width: 100%;
    height: auto;
}

.userAvatar {
    width: 100%;
    height: auto;
}

.searchIcon {
    width: 60px;
    height: auto;
    margin-left: 0.5%;
}

.searchField {
    align-content: center;
    border-left: 3px solid;
    width: 100%;

    p {
        margin: 0 0 0 1%;
        font-size: 170%;
    }
}

.burgerMenuButtonInactive {
    display: inline-block;
    position: sticky;
    right: 0;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
    z-index: 1;
}

.burgerMenuButtonActive {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    right: 20px;
    margin-top: 18px;
    z-index: 2;
    -webkit-tap-highlight-color: transparent;

    .bar {
        &:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
            background-color: white;
        }
        &:nth-child(2) {
            opacity: 0;
        }
        &:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
            background-color: white;
        }
    }
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: 0.3s;
    background-color: black;
}

.burgerMenu {
    display: flex;
    position: fixed;
    height: 100%;
    background-color: black;
    top: 0;
    right: 0;
    gap: 0;
    padding-top: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    right: -250px;
    transition-property: right;
    transition-duration: 0.5s;
    z-index: 1;
}

.burgerMenuItem {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: 0.3s;
    display: block;
    padding: 8px;
}

.ProductsSection {
    font-size: 1.5em;
    margin-left: 2%;
    margin-top: 2%;
    font-weight: 300;
    margin-bottom: 0;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    .title {
        font-size: 4em;
    }

    .cartDiv {
        width: 45px;
    }

    .userAvatarDiv {
        width: 45px;
        margin-right: 4px;
    }
    
    .search {
        width: 230px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .searchIcon {
        width: 39px;
        margin-left: 2px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .title {
        font-size: 5em;
    }

    .cartDiv {
        width: 45px;
    }

    .userAvatarDiv {
        width: 52px;
        margin-right: 4px;
    }
    
    .search {
        width: 240px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .searchIcon {
        width: 40px;
        margin-left: 2px;
    }
}