.upperPanel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    border-bottom: 3px solid black;
}

.backButtonContainer {
    width: 60px;
    margin: 5px 10px 0 10px;
}

.backButton {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.pageNameContainer {
    display: flex;
    border-left: 3px solid black;
    align-items: center;
}

.pageName {
    font-size: 2em;
    margin: 0;
    padding-left: 5px;
}

.profile {
    display: flex;
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
}

.mainInfoContainer {
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 170px;
    height: 170px;
}

.mainInfo {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 15px;
}

.name {
    font-size: 1.5em;
    margin: 5px 0 5px 0;
}

.emailContainer {
    display: flex;
    flex-direction: row;
}

.email {
    font-size: 1.5em;
    margin: 0;
}

.emailConfirmButton {
    margin-left: 10px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    background-color: white;
    font-size: 1.5em;

    &:active {
        transform: scale(0.98);
    }
}

.horizontalLine {
    display: flex;
    width: 600px;
    border-top: 2px solid black;
    margin: 15px 0 0 0;
}

.deliveryAddress {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.addressHeader {
    font-size: 1.5em;
    margin: 0;
}

.addressContainer {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.addressField {
    display: flex;
    border: 2px solid black;
    border-radius: 10px;
    width: 400px;
}

.address {
    font-size: 1.5em;
    padding-left: 5px;
    margin: 0;
    align-self: center;
}

.saveAddress {
    display: flex;
    font-size: 2em;
    border: none;
    background-color: white;
    cursor: pointer;

    &:active {
        transform: scale(0.97);
    }
}

.logout {
    display: flex;
    width: fit-content;
    background-color: white;
    border: none;
    color: red;
    padding: 0;
    height: fit-content;
    cursor: pointer;
    margin-top: 20px;
    margin-left: -30px;

    &:hover {
        opacity: 0.65;
    }
}

.logoutImage {
    width: 30px;
}

@media screen and (max-width: 425px) {
    .upperPanel {
        border-bottom: 1px solid black;
    }
    
    .backButtonContainer {
        width: 25px;
        margin: 2px 4px 0 4px;
    }
    
    .pageNameContainer {
        border-left: 1px solid black;
    }

    .pageName {
        font-size: 1em;
        padding-left: 3px;
    }

    .profile {
        margin: 0 0 0 -20px;
        align-items: center;
    }

    .mainInfoContainer {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .avatar {
        width: 70px;
        height: 70px;
        margin-left: 10px;
    }

    .name {
        font-size: 1em;
        margin: 10px 0 3px 0;
    }

    .emailContainer {
        flex-direction: column;
    }

    .email {
        font-size: 1em;
    }

    .emailConfirmButton {
        font-size: 1em;
        width: fit-content;
        margin: 7px 0 0 0;
    }

    .horizontalLine {
        width: 90vw;
    }

    .addressHeader {
        font-size: 1em;
    }
    
    .addressContainer {
        flex-direction: column;
    }

    .addressField {
        width: 200px;
    }

    .saveAddress {
        margin-left: -12px;
    }

    .logout {
        margin-top: 40px;
        margin-left: 10px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .backButtonContainer {
        width: 40px;
        margin: 5px 5px 0 5px;
    }

    .pageName {
        font-size: 1.5em;
    }

    .profile {
        margin-left: -20px;
        align-items: center;
    }

    .avatar {
        width: 90px;
        height: 90px;
        margin: 0;
    }

    .mainInfo { 
        margin: 0 0 0 8px;
    }

    .name {
        font-size: 1em;
        margin: 2px 0 2px 0
    }

    .email {
        font-size: 1em;
    }

    .emailConfirmButton {
        font-size: 1em;
        margin-left: 5px;
    }

    .horizontalLine {
        width: 335px;
        margin: 8px 0 0 0;
    }

    .addressHeader {
        font-size: 1em;
    }

    .addressField {
        width: 290px;
    }

    .logout {
        margin-top: -30px;
        margin-left: -50px;
    }

    .logoutImage {
        width: 25px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
    .backButtonContainer {
        width: 40px;
        margin: 5px 5px 0 5px;
    }

    .pageName {
        font-size: 1.5em;
    }

    .profile {
        margin-left: -20px;
        align-items: center;
    }

    .avatar {
        width: 110px;
        height: 110px;
        margin: 0;
    }

    .mainInfo { 
        margin: 0 0 0 8px;
    }

    .name {
        font-size: 1.2em;
        margin: 2px 0 2px 0
    }

    .email {
        font-size: 1.2em;
    }

    .emailConfirmButton {
        font-size: 1.2em;
        margin-left: 5px;
    }

    .horizontalLine {
        width: 400px;
        margin: 8px 0 0 0;
    }

    .addressHeader {
        font-size: 1.2em;
    }

    .addressField {
        width: 290px;
    }

    .logout {
        margin-top: -25px;
        margin-left: -30px;
    }

    .logoutImage {
        width: 28px;
    }
}