.hiddenSearchField {
    position: absolute;
    display: none;
    justify-self: center;
    border: 2px solid black;
    border-radius: 10px;
    top: 61.5px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 2;
    width: 250px;
    height: 35px;
    box-shadow: 0 0 0 max(100vh, 100vw) rgba(0, 0, 0, .3);
}

.searchText {
    margin: 3px 0 0 3px;
    align-content: center;
    outline: none;
    border: none;
    font-size: 1.3em;
    box-sizing: border-box;
    width: 16ch;
}

.search {
    display: flex;
    width: 350px;
    border-radius: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    margin-top: 6px;
    margin-bottom: 6px;
}

.searchIcon {
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
}

.searchImage {
    width: 53px;
    height: auto;
    margin-left: 3%;
}

.searchField {
    align-content: center;
    border-left: 3px solid;
    width: 100%;

    p {
        margin: 0 0 0 1%;
        font-size: 170%;
    }
}

@media screen and (max-width: 425px) {
    .search {
        border: none;
        width: 35px;
    }

    .searchField {
        display: none;
    }

    .searchIcon {
        width: 35px;
        height: 35px;
    }

    .searchImage {
        width: 35px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    .search {
        width: 200px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .searchIcon {
        pointer-events: none;
    }

    .searchImage {
        width: 35px;
        margin-left: 2px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
    .search {
        width: 240px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .searchIcon {
        pointer-events: none;
    }

    .searchImage {
        width: 40px;
        margin-left: 2px;
    }
}

@media screen and (min-width: 1601px) {
    .searchIcon {
        pointer-events: none;
    }
}